<div class="item-image-upload-form">
<%= simple_form_for(@this_restaurant) do |f| %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, "Submit Image", class: 'btn btn-outline-light', data: { disable_with: 'Submitting' } %>
<% end %>
</div>
