<h1 class="home-header">This is your MENU</h1>
<div class="restaurant-card" data-controller="restructure" data-restructure-api-key="api_key">
  <p>Original Description:</p>
  <p class="original-description"><%= @restaurant_menu.photo_description %></p>
</div>
  <p>Restructured Description:</p>
  <p class="restructured-description"></p>
