// Specific CSS for your home-page
body{
  // display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150vh;
  background: #f5d7bc;
}

.home-header{
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  color: #522A27
}


.links {
  text-align: center;
}

.tesseract-form {
  background-color: #E3DEE1;
  border-radius: 15px;
  margin: 20px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color:#522A27;
  border: 1px solid #522A27;
}
