// Specific CSS for your home-page
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

body{
  // display: flex;
  font-family: 'Sofia Sans Condensed', sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 250vh;
  background: #F4F4F9;
}

.home-header{
  font-family:'Alumni Sans', sans-serif;
  font-size: 40px;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  color: #07362B
}

.sub-heading{
  font-family: 'Sofia Sans Condensed', sans-serif;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  color: #07362B
}

.links {
  text-align: center;
  justify-content: center;
  text-decoration: none;
}

.tesseract-form {
  font-family: 'Sofia Sans Condensed', sans-serif;
  background-color: #E3DEE1;
  border-radius: 15px;
  margin: 20px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color:#07362B;
  border: 1px solid #07362B;
}

.review-container {
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.card-info {
  text-align: left;
  margin: 5px;
}
