// Specific CSS for your home-page
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-page-container{
  height: 100px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-left: 22px;
  margin-top: 15px;
}

.logo-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

body{
  display: flex;
  font-family: 'Sofia Sans Condensed', sans-serif;
  flex-direction: column;
  background: #F4F4F9;
  margin-bottom: 6rem;
}


.home-header{
  font-family:'Alumni Sans', sans-serif;
  font-size: 40px;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  color: #161717
}

.sub-heading{
  font-family: 'Sofia Sans Condensed', sans-serif;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  color: #161717
}

.links {
  text-align: center;
  justify-content: center;
  text-decoration: none;
}

.tesseract-form {
  font-family: 'Sofia Sans Condensed', sans-serif;
  background-color: #efefef;
  border-radius: 15px;
  margin: 20px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color:#161717;
  border: 1px solid #161717;
}

.review-container {
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.card-info {
  text-align: left;
  margin: 5px;
}

.rounded-button {
  border-radius: 20px;
  background-color: #efefef;
}

.search-input {
  background-color: #efefef;
  width: 280px;
}
