
.item-card {
  background-color: #E3DEE1;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color:#522A27;
  border: 1px solid #522A27;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
