
.item-card {
  font-family: 'Sofia Sans Condensed', sans-serif;
  background-color: #efefef;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color:#161717;
  border: 1px solid #161717;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
