.mapbox {
  width: 100%;
  object-fit: contain;
  background-color: #e2f3e8;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  color:#07362B;
  border: 1px solid #07362B;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
