.mapbox {
  width: 100%;
  object-fit: contain;
  background-color: #efefef;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  color:#161717;
  border: 1px solid #161717;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-top-left, .mapboxgl-ctrl-top-right{
  z-index: auto !important;
}
