.star {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid #161717;
  margin-right: 5px;
  text-align: center;
}


.star.filled {
  background: #161717;
}
