.restaurant-card {
  background-color: #e2f3e8;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color:#07362B;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover,
  &:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
  }
}

.restaurants-row{
  a {
    text-decoration: none;
  }
}

.restaurant-show-card{
  background-color: #e2f3e8;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color:#07362B;
  border: 1px solid #07362B;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
