.restaurant-card {
  background-color: #efefef;
  border-radius: 15px;
  margin: 10px;
  text-align: left;
  padding: 12px;
  color: #161717;
  width: 22rem;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover,
  &:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
  }
}

.restaurants-row {
  display: flex;
  flex-direction: column; /* Display cards vertically */
  align-items: center; /* Center cards horizontally */
  text-align: center;

  a {
    text-decoration: none;
  }
}


.restaurant-show-card{
  background-color: #efefef;
  border-radius: 5px;
  border-bottom: 1px solid #ccc;
  margin: 20px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color:#161717;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.card-info-header {
  font-family:'Segoe UI', sans-serif;
  font-weight: bolder;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
}
.card-info {
  color: rgb(80, 80, 80)
}

.restaurant-heading{
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-variant: small-caps;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  font-variant: small-caps;
}

.restaurant-card-info {
  font-family:'Segoe UI', sans-serif;
  color: rgb(80, 80, 80);
}

.restaurant-info {
  display: flex;
  justify-content: space-between;
}

.info-heading{
  font-family:'Segoe UI', sans-serif;
}
