.restaurants-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.4rem;
  justify-content: center;
  text-align: center;
  a {
    text-decoration: none;
  }
}

.restaurant-card {
  background-color: #efefef;
  border-radius: 10px;
  margin: 0.2rem;
  text-align: left;
  color: #161717;
  height: 10.2rem;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover,
  &:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
  }
}

.restaurant-show-card{
  background-color: #efefef;
  border-radius: 5px;
  border-bottom: 1px solid #ccc;
  margin: 20px;
  text-align: center;
  justify-content: center;
  padding: 15px;
  color:#161717;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.card-info-header {
  font-family:'Segoe UI', sans-serif;
  font-weight: bolder;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
}
.card-info {
  font-size: 12px;
  color: rgb(80, 80, 80);
  padding: 10px;

  h4{
    font-family:'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-bottom: 5px;
  }

  p{
    font-size: 11px;
    font-weight:400;
    font-style: italic;
  }
}

.restaurant-rating {
  display: flex;
  justify-content: space-between;

  .rating {
    font-style: normal;
  }
}

.restaurant-heading{
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-variant: small-caps;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  font-variant: small-caps;
}

.restaurant-card-info {
  font-family:'Segoe UI', sans-serif;
  color: rgb(80, 80, 80);
}

.restaurant-info {
  display: flex;
  justify-content: space-between;
}

.info-heading{
  font-family:'Segoe UI', sans-serif;
}

.featured-restaurants {
  height: 12rem;
  overflow-x:scroll;
  white-space: nowrap;
}

.feature-card {
  background-blend-mode:darken;
  background-color: rgba(0, 0, 0, 0.421);
  background-size: cover;
  background-position: center center;
  position: relative;
  display:inline-block;
  object-fit: cover;
  border-radius: 10px;
  color: #161717;
  height: 11.5rem;
  width: 8rem;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  margin-bottom: 2rem;
  &:hover,
  &:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
  }
}

a{
  text-decoration: none;
}

.feature-card-image {
  position: relative;
}

.feature-card-image img {
  height:14.5rem;
  width:100%;
  object-fit:cover;
  border-radius: 10px;
  overflow: hidden;
}

.feature-card-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  padding: 10px;
  margin: 0 auto;
  h5{
    font-family:'Segoe UI', sans-serif;
    font-size: 13px;
    font-weight:bolder;
    color: white;
    margin-bottom: 5px;
    text-wrap: wrap ;
    letter-spacing: 3px;
    font-variant: small-caps;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  }
  p{
    color: white;
    font-size: 10px;
    font-weight:400;
    font-style: italic;
  }
}
