.search-card{
  background-color: #e2f3e8;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color:#161717;
  border: 1px solid #161717;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.search-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #333333, #161717);
  border-radius: 30px;
  height: 60px;
  width: 98%;
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.2);
}
.search-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px;
  width: 85%;
  height: 45%;
  background-color: transparent;
  color: #161717;
  margin-right: 0px;
}

.rounded-button{
  margin-right: 5px
}

.sub-heading {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search-results {
  list-style: none;
  padding: 0;
}

.search-result {
  background-color: #efefef;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.search-result-link {
  text-decoration: none;
  color: #161717;
}

.card-link {
  display: block;
}

@media (max-width: 768px) {
  .search-result {
    width: 100%;
  }
}
