.search-card{
  background-color: #e2f3e8;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color:#07362B;
  border: 1px solid #07362B;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.search-container {
  justify-content: center;
  text-align: center;
}
