.tesseract-form {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.tesseract-container{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 420px;
}

.tesseract-form div {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

textarea {
  width: 100%;
  height: 200px;
  resize: vertical;
}
