
.tesseract-container{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 390px;
  color: white;
}

.tesseract-form {
  width: 90%;
  text-align: center;
  justify-content: center;
  background: linear-gradient(to bottom, #8e8e8e, #4c4c4c);
  color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.tesseract-form div {
  margin-bottom: 20px;
  color: white;
  border-radius: 10px;
}

label {
  font-weight: bold;
  color: white;
  text-align: center;
  border-radius: 10px;
}

textarea {
  width: 80%;
  height: 380px;
  resize: vertical;
  text-align: center;
  border-radius: 10px;
}

.form-group-photo-upload {
  margin-left: 6rem;
}
