
<div class="navbar">
  <ul>
    <li class="list">
      <%= link_to root_path do %>
        <span class="icon"></span>
        <ion-icon size="large", name="home"></ion-icon>
        <span class="text">Home</span>
      <% end %>
    </li>
    <li class="list">
      <%= link_to  do %>
        <span class="icon"></span>
        <ion-icon size="large", name="search"></ion-icon>
        <span class="text">Search</span>
      <% end %>
    </li>
    <li class="list">
      <%= link_to  do %>
        <span size="large", class="icon"></span>
        <ion-icon size="large", name="apps"></ion-icon>
        <span class="text">Categories</span>
      <% end %>
    </li>
    <li class="list">
      <%= link_to  do %>
        <span class="icon"></span>
        <ion-icon size="large", name="person"></ion-icon>
        <span class="text">Profile</span>
      <% end %>
    </li>
  </ul>
</div>
